
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Family History</h2>
<div class=col-md-10>
    <div class="row">
        <iframe width="640" height="360" src="https://www.youtube.com/embed/isOxYKWUOhk" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

