@model FamilyEvent


<h2>New Event</h2>

<div class="row">
    @Html.EditorForModel()
</div>
    

@section Scripts{
<script language="javascript">
        $('.textarea-editor').summernote({
            height: 300, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: true // set focus to editable area after initializing summernote
        });

</script>

}