@model FamilyEvent


<h2>New Event</h2>

<div class="row">
    @Html.EditorForModel()
</div>
<div class="row">
    <button type="submit" class="btn btn-primary">Save Changes</button>
</div>

@section Scripts{
<script language="javascript">
        <a href="~/Views/Event/EditEvent.cshtml">~/Views/Event/EditEvent.cshtml</a>
        $('.textarea-editor').summernote({
            height: 300, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: true // set focus to editable area after initializing summernote
        });

</script>

}