
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>

<div class="row">
    <div class="col-md-4">
        <h4>Reunions</h4>
        @Html.ActionLink("Reunions", "Reunions", "Reunion")
    </div>
    <div class="col-md-4">
        <h4>Events</h4>
        @Html.ActionLink("Events", "Events", "Event")
    </div>
</div>

