@model IEnumerable<BryceFamily.Web.MVC.Models.FamilyStateSummary>


@{
    ViewData["Title"] = "Family Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>List of latest family updates</h2>

<div class="row">
    <p>Here is some text about the latest family updates</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(t => t.Count))
        {
            <tr>
                <td>
                    @if (string.IsNullOrEmpty(item.State))
                    {
                        <text>Not Entered</text>

                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.State)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </tbody>
</table>