@model Gallery
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10">
    <div class="row">
        @Html.DisplayForModel()
    </div>
    <div class="row">
        @Html.ActionLink("Back to Galleries", "Index", "Gallery")
    </div>
</div>


