@model FileUploadModel
@{
    ViewData["Title"] = "EditGalleryImages";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var familyMembers = Model.ClanMembers.OrderBy(t => t.LastName).ThenBy(x => x.FirstName).Select(c => new SelectListItem()
    {
        Text = $"{c.LastName}, {c.FirstName} {c.MiddleName?.FirstOrDefault()}",
        Value = c.Id.ToString()
    }).OrderBy(t => t.Text)
    .ToList();

    familyMembers.Insert(0, new SelectListItem()
    {
        Text = "Select ...",
        Value = "",
        Selected = true
    });
}

<h2>Edit Gallery Images</h2>


    <form method="post" enctype="multipart/form-data" asp-controller="Gallery" asp-action="UploadFiles">
        <div class="image-upload">
            @Html.DisplayFor(e => e.GalleryName)
            @Html.HiddenFor(t => t.GalleryId)
            <div class="row">
                <p>Upload one or more files using this form:</p>
                <input type="file" name="files" multiple class="btn-default"/>
            </div>
            <div class="row">
                <input type="submit" value="Upload" class="btn-primary"/>
            </div>
        </div>
    </form>
