@model EventGalleryCreateModel
@{
    ViewData["Title"] = "NewGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var familyEvents = Model.FamilyEvents.OrderBy(x => x.Title).Select(f => new SelectListItem()
    {
        Text = f.Title,
        Value = f.EntityId.ToString(),
        Selected = Model.FamilyEventId == f.EntityId

    });
}

<h2>Add New Gallery</h2>
<form asp-controller="Gallery" asp-action="EventGallery" method="post">
    <div class="row">
        <div class="col-md-2">
            <label>Title:</label>
        </div>
        <div class="col-md-10">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Description:</label>
        </div>
        <div class="col-md-10">
            <textarea asp-for="Description" class="form-control" rows="10" cols="10" ></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Family Event:</label>
        </div>
        <div class="col-md-10">
            <select asp-for="FamilyEventId" asp-items="familyEvents" class="form-control"></select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>