@model FamilyGalleryCreateModel
@{
    ViewData["Title"] = "New Family Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var families = Model.Families.OrderBy(x => x.FormattedName).Select(f => new SelectListItem()
    {
        Text = $"{f.Family}, {f.FamilyName}",
        Value = f.Id.ToString(),
        Selected = Model.FamilyId == f.Id

    });
    var events = Model.Events.Select(f => new SelectListItem()
    {
        Text = f.Title,
        Value = f.EntityId.ToString(),
        Selected = Model?.EventId == f.EntityId

    });
}

<h2>Add New Family Gallery</h2>
<form asp-controller="Gallery" sp-action="FamilyGallery" method="post">
    <div class="row">
        <div class="col-md-2">
            <label>Title:</label>
        </div>
        <div class="col-md-8">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Description:</label>
        </div>
        <div class="col-md-8">
            <textarea asp-for="Description" class="form-control" rows="10" cols="10"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Family:</label>
        </div>
        <div class="col-md-8">
            <select asp-for="FamilyId" asp-items="families" class="form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Event:</label>
        </div>
        <div class="col-md-8">
            <select asp-for="EventId" asp-items="events" class="form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <label>Gallery Date:</label>
        </div>
        <div class="col-md-8">
            <input type="date" asp-for="GalleryDate" class="form-control" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>