@model List<GalleryIndex>
@inject BryceFamily.Web.MVC.Infrastructure.ContextService ContextService
@inject BryceFamily.Web.MVC.Infrastructure.ClanAndPeopleService ClanService
@inject BryceFamily.Repo.Core.Read.FamilyEvents.IFamilyEventReadRepository FamilyEvents
@using BryceFamily.Web.MVC.Infrastructure.Authentication
@using System.Threading  

    @{
        ViewData["Title"] = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
        var events = await FamilyEvents.GetAllEvents(CancellationToken.None);
    }


    
<div class="row">
    <div class="col-md-6">
        <h3>Galleries by Family</h3>
        <ul class="event-summary">

            @{
                var familyGroups = Model
                    .Where(t => t.Family != null && t.Clan != null)
                    .GroupBy(family => family.Clan.FormattedName,
                            gallery => gallery,
                            (key, v) => new { Clan = key, Galleries = v.ToList() }
                )
                .ToDictionary(k => k.Clan, k => k.Galleries);
                
            }

            @Html.Partial("DisplayTemplates/GallerySummary", familyGroups)

        </ul>
    </div>
    <div class="col-md-6">
        <h3>Galleries by Event</h3>
        <ul class="event-summary">
            @{
                var familyEventGalleries = Model
                    .Where(t => t.FamilyEvent!= null && !t.DefaultFamilyEventGallery)
                    .OrderByDescending(t => t.FamilyEvent.StartDate)
                    .GroupBy(evt => evt.FamilyEvent.Title,
                            gallery => gallery,
                            (key, v) => new { Event = key, Galleries = v.ToList() }
                )
                .ToDictionary(k => k.Event, k => k.Galleries);
            }

            @Html.Partial("DisplayTemplates/GallerySummary", familyEventGalleries)
        </ul>
    </div>
</div>

@if (User.IsInRole(RoleNameConstants.AdminRole) || User.IsInRole(RoleNameConstants.SuperAdminRole))
{
    <div class="row">
        <div class="col-md-4">
            <span class="editorButton">@Html.ActionLink("Add New", "NewGallery", "Gallery", null, new { @class = "btn btn-primary" })</span>
        </div>
    </div>
}
    

