@model BryceFamily.Web.MVC.Models.Image.ImageViewModel
@inject BryceFamily.Web.MVC.Infrastructure.CDNServiceRoot serviceRoot


@{
    ViewData["Title"] = "ViewImage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = string.IsNullOrEmpty(Model.Title) ? Model.FileName : Model.Title;
}

<h2>@title</h2>

@{ Html.RenderPartial("_GalleryNavigation", Model);}

<div class="row">
    <img src="@Url.Content($"{serviceRoot.ServiceRoot}{Model.FullSizeLink}")" class="image-view" />
</div>

@{ Html.RenderPartial("_GalleryNavigation", Model);}


