@model  BryceFamily.Web.MVC.Models.Image.ImageViewModel
@inject BryceFamily.Web.MVC.Infrastructure.CDNServiceRoot serviceRoot


@{
    ViewData["Title"] = "ViewImage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = string.IsNullOrEmpty(Model.Title) ? "Untitled" : Model.Title;
}

<h2>@title</h2>

<div class="row">
    <img src="@Url.Content($"{serviceRoot.ServiceRoot}/{Model.FullSizeLink}")" class="image-view" />
</div>
<div class="row">
    <div class="centered">
        <div class="btn-group">
            @{ if (Model.PreviousLink != Guid.Empty)
            {
                    @Html.ActionLink("< Previous", "ViewImage", "Gallery", new { galleryId = Model.GalleryId, imageId = Model.PreviousLink }, new { @class = "btn" })
                }
            }
            @{ if (Model.NextLink != Guid.Empty)
            {
                    @Html.ActionLink("Next >", "ViewImage", "Gallery", new { galleryId = Model.GalleryId, imageId = Model.NextLink }, new { @class = "btn" })
                }
            }
        </div>
    </div>
</div>

