<div class="row">
    <div class="col-md-2">
        <nav-menu></nav-menu>
    </div>
    <div class="col-md-10">
        <h2>New Event</h2>
        <form #f="ngForm" (ngSubmit)="submitNewEvent()">
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Title:</label>
                </div>
                <div class="col-md-10 form-control">
                    <input type="text" [(ngModel)]="Event.title" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Start Date:</label>
                </div>
                <div class="col-md-3 form-control">
                    <input type="datetime" [(ngModel)]="Event.dates.startDate" required>
                </div>
                <div class="col-md-2">
                    <label>End Date:</label>
                </div>
                <div class="col-md-3 form-control">
                    <input type="datetime" [(ngModel)]="Event.dates.endDate" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Status:</label>
                </div>
                <div class="col-md-3 form-control">
                    <input type="text" [(ngModel)]="Event.eventStatus" required>
                </div>
                <div class="col-md-2">
                    <label>Type:</label>
                </div>
                <div class="col-md-3 form-control">
                    <input type="text" [(ngModel)]="Event.eventType" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-2">
                    <label>Description:</label>
                </div>
                <div class="col-md-10 form-control">
                    <textarea [(ngModel)]="Event.details" required ></textarea>
                </div>
            </div>
            <button type="submit" [disabled]="!f.valid">Submit</button>
        </form>
    </div>
</div>