<ul class='nav navbar-nav'>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/home']">
            <span class='glyphicon glyphicon-home'></span> Home
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/familyHistory']">
            <span class='glyphicon glyphicon-education'></span> Family History
        </a>
    </li>
    <li [routerLinkActive]="['link-active']">
        <a [routerLink]="['/events']">
            <span class='glyphicon glyphicon-education'></span>Family Events
        </a>
    </li>
</ul>
