<header class="header text-center">
    <div class="container">
        <h1>Family Bryce</h1>
        <p>
            Here is some introductory text about the site. Short and sweet.
        </p>
    </div>
</header>