<ul class='nav navbar-nav'>
    <li >
        @Html.ActionLink("Home", "Index", "Home")
        
    </li>
    <li>
        @Html.ActionLink("Family History", "Index", "History")
    </li>
    <li >
        @Html.ActionLink("Events", "Index", "Event")
    </li>
</ul>
