@model BryceFamily.Web.MVC.Models.Person

<div class="row">
    <div class="col-md-3">
        <h4>Parents</h4>
        @{
            Html.RenderPartial("PersonNode", Model);
        }

        @if (Model.Unions.Any())
        {
            <div class="row"><div class="col-md-6" style="border-right: 1px solid black">&nbsp;</div><div class="col-md-6">&nbsp;</div></div>
            var union = Model.Unions.First();
            var partner = union.Partner1.Id == Model.Id ? union.Partner2 : union.Partner1;
            Html.RenderPartial("PersonNode", partner);
        }
    </div>
    <div class="col-md-offset-1 col-md-5 col-lg-5">
        <h4>Children</h4>
        @if (Model.Unions.Any())
        {
            var union = Model.Unions.First();
            if (union.Descendents.Any())
            {
                @foreach (var child in union.Descendents.OrderBy(t => t.DateOfBirth))
                {
                    Html.RenderPartial("Descendants", child);

                }
            }
        }
    </div>
</div>
