@inject BryceFamily.Web.MVC.Infrastructure.ContextService ContextService
@using BryceFamily.Web.MVC.Infrastructure.Authentication

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class=col-md-10>    
    <div class="text row">
        <div>
            <h3>Ancestral Background</h3>
            <p>George Bryce our foundation father who arrived in Australia in 1832 on the "Clyde" was from Liverpool and his wife Jane McCracken, a widow whom he married in Melbourne was from Antrim in Northern Ireland.</p>
            <p>George Bryce was transported to Australia as a convict with a sentence of 7 1/2 years. He was allocated to the district of Parramatta just west of Sydney and was under the control of the infamous "flogging pastor" the Reverend Marsden. Near the end of his sentence he was given a 'ticket of leave" for good conduct and as I understand, he then spent 3 years in Tasmania, 1 year in Sydney and eventually went on to the Crowlands area. George's father was a cabinet maker and so was he. He stole a few tools and if anyone knows English history in the 1830's they would know that many people were destitute and struggled to survive. The established elite and wealthy had imposed harsh draconian laws and penalties.</p>
            <p>Jane was also a convict, sentenced at Leeds on 9th January, 1832 for seven years and transported to Australia in 1832.</p>
            <p>Thank God George tried to support his family by pinching a few tools; and thank God he and Jane were transported to Australia because if these things didn't happen, none of us in the Bryce family would be here today.</p>
            <p>George and Jane had 6 children, one of whom was George who we will call George 2. He married Mary Jane Buchingham from nearby Elmhurst. They had 8 children. one of whom was David, who we believe had a twin sister Ada who died as a baby. David married Maria Wilde whose parents were James Wilde and Mary Jane Rowe.</p>
            <p>David and Maria had 13 children. They are our immediate grandparents or depending on your age and generation - your great or great-great grandparents and are the basis of our Bryce reunions.</p>
            <p>To understand  our cultural background from these ancestors let me say that we are both Celtic and Anglo Saxon. For instance: George Bryce was from Liverpool-England, Jane McCracken was from Antrim in Northern Ireland. the Buckinghams were from Cornwall, the Wilde's were from Rochdale. Lancashire in England and the Rowes were from St. Enoder in Cornwall.</p>
        </div>

        <div>
            <h3>Our family's sea voyages and first arrival in Australia</h3>
            <ul>
                <li>George Bryce sailed from Liverpool and arrived in Sydney in 1832 on the “Clyde”</li>
                <li>Jane McCracken — She arrived in Australia in 1832 on the ship “Hydery”.</li>
                <li>Mary Jane Buckingham and her parents sailed from Plymouth and arrived in Geelong in 1852 on the “Sir Edward Parry”</li>
                <li>Emanuel Wilde and wife sailed from Plymouth and arrived in Geelong in 1848 on the “Berkshire”</li>
                <li>Joseph Rowe sailed from Plymouth and arrived in Geelong in 1849 on the “Labuan”</li>
            </ul>
            <p>We can only admire the courage of these people, who left their homeland to sail, at that time, not only on the longest journey in the world but also one of the most perilous; sailing through the Atlantic Ocean. the Indian Ocean, the Great Southern Ocean, the Roaring Forties and finally through the "Eye of the Needle" to enter Bass Strait and along the Ship Wreck Coast to Port Phillip Bay or to sail further on to Sydney. These people were in search of a better way of life or as convicts found a better way of life in a new country with pioneering opportunities.</p>
        </div>
        
        <div>
            <h3>Early Settlement</h3>
            <p>George Bryce settled in the Crowlands district possibly attracted by gold discoveries nearby at Glendhue and Malakoff reefs. He selected land and established a small farm; building a log cabin and damming a nearby creek site with clay to ensure a water supply for his new family. Remnants of the cottage and "Bryce's Dam" some 100 metre away, still exist today. George Bryce 2 and his son David Bryce were born here. This farm, has subsequently become part of a larger property held by the Williams family over the generations and was recently acquired by Graeme Maconnachie in 1999.</p>
            <p>David Bryce moved to Warracknabeal after spending a short time in Western Australia where gold discoveries lured people from the East. Once based in Warracknabeal David became an assistant farmer, woodcutter, and owned a small farm and some property in the district. Here he married Maria Wilde whose parents were James Wilde, a farmer from Bangerang and her mother was Mary Jane Rowe whose family were flour millers in Warracknabeal.</p>
            <p>As most of us here today know — David and Maria Bryce had 13 children and it is from these 2 people that there are now over 300 descendants and of those 28 have passed on. We remember them dearly.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Videos</h3>
            @Html.ActionLink("Family History", "Index", "Video")
        </div>
        <div class="col-md-4">
            <h3>Stories</h3>
            
        </div>
        <div class="col-md-4">
            <h3>Family Tree</h3>
            <p>Browse the family tree.</p>
            @Html.ActionLink("Family Tree", "Tree", "History", new { id = 22 })
        </div>
    </div>
</div>

