@model BryceFamily.Web.MVC.Models.Person

<div>
    <div class="parents">
        <ul>
            <li>
                <div class="ancestorLink">&nbsp;</div>
                <div class="familyMember gender @Model.Gender">@Model.LastName,  @Model.FirstName @Model.MiddleName</div>
            </li>
        </ul>
    </div>
</div>
