@model IEnumerable<BryceFamily.Web.MVC.Models.Story>

@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var storyCount = Model.Count();

}



<h2>@Model.FirstOrDefault().StoryTitle</h2>

<div>
    @Html.Raw(@Model.FirstOrDefault().StoryContent)
</div>


