@model StoryWriteModel
@inject BryceFamily.Web.MVC.Infrastructure.ClanAndPeopleService ClanService

@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var peopleSelect = ClanService.People.OrderBy(t => t.LastName).ThenBy(x => x.FirstName).Select(c => new SelectListItem()
    {
        Text = $"{c.LastName}, {c.FirstName} {c.MiddleName?.FirstOrDefault()}",
        Value = c.Id.ToString()
    }).OrderBy(t => t.Text)
    .ToList();

    peopleSelect.Insert(0, new SelectListItem()
    {
        Text = "Select ...",
        Value = "",
        Selected = true
    });
}

<h2>Contribute A Story</h2>

<form asp-action="Story" asp-controller="History">
    <div class="row">
        <label asp-for="PersonID">Select Related Person</label>
        <select asp-for="PersonID" asp-items="peopleSelect"></select>
    </div>
    <div class="row">
        <label asp-for="Title">Story Title</label>
        <input type="text" asp-for="Title" />
    </div>
    <div class="row">
        @Html.TextAreaFor(m => m.Story, new
{
    rows = "20",
    style = "resize:none;width:400px;",
    placeholder = Html.DisplayNameFor(m => m.Story),
    @class = "form-control input-lg textarea-editor"
})
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>


 @section Scripts{
    <script language="javascript">
        $('.textarea-editor').summernote({
            height: 300, // set editor height  
            minHeight: null, // set minimum height of editor  
            maxHeight: null, // set maximum height of editor  
            focus: true // set focus to editable area after initializing summernote  
        });  
    </script>

 }
