<div class="home-page">
    <header class="header text-center">
        <div class="container">
            <h1>Family Bryce</h1>
        </div>
    </header>
    <section>
        <div class="body-nav">
            <div class="row">
                <div class="col-md-4">
                    <div class="nav-panel">
                        <a [routerLink]="['/familyHistory']">
                            <h2>Family History</h2>
                            <div class="item-text">
                                Info on the history of the Bryce family
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nav-panel">
                        <a [routerLink]="['/events']">
                            <h2>Events</h2>
                            <div class="item-text">
                                View pics and stories from previous family events and see a schedule of upcoming events
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="nav-panel">
                        <h2>Family Tree</h2>
                        <div class="item-text">
                            View the Bryce family tree
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>