
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People</h2>

<div class="row">
    <div class="btn-group">
        @Html.ActionLink("Edit People", "List", "People", null, new { @class = "btn btn-sm" })
        @Html.ActionLink("Add New Person", "Person", "People", null, new { @class = "btn btn-sm" })
        @Html.ActionLink("Find People", "Search", "People", null, new { @class = "btn btn-sm" })
        @Html.ActionLink("Import People File", "Import", "People", null, new { @class = "btn btn-sm" })
    </div>
</div>

