
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People</h2>

<div class="row">
    <div class="col-md-3">Send SMS</div>
    <div class="col-md-3">Send Email</div>
    <div class="col-md-3">@Html.ActionLink("Edit People", "List", "People")</div>
</div>

