@model BryceFamily.Web.MVC.Models.SearchPersonModel
@inject BryceFamily.Web.MVC.Infrastructure.ClanAndPeopleService ClanService

@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";



    var clansSelectItems = ClanService.Clans.Where(c => c.Id > 1).Select(c => new SelectListItem()
    {
        Text = $"{c.Family}, {c.FamilyName}",
        Value = c.Id.ToString()
    }).OrderBy(t => t.Text)
    .ToList();

    clansSelectItems.Insert(0, new SelectListItem()
    {
        Text = "Select ...",
        Value = "",
        Selected = true
    });


}

<h2>Search</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Clan" class="control-label"></label>
                <select asp-for="Clan" asp-items="clansSelectItems" class="form-control" ></select>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occupation" class="control-label"></label>
                <input asp-for="Occupation" class="form-control" />
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

