
html {
    height: 100%;
}

body {
    padding-top: 0;
    font-family: "Georgia, serif"
}



.page-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px;
}

    .page-wrapper:after {
        content: "";
        display: block;
        height: 50px;
    }

    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

.footer {
    height: 50px;
}

.body-blue > .header {
    background-position: center bottom;
    background-size: initial;
}



.header > .container > h1 {
    padding-top: 80px;
    padding-bottom: 15px;
    color: antiquewhite;
    font-size: 6em;
}

.header > .container > p {
    padding-bottom: 40px;
    /*color: #337ab7;*/
    font-size: 1.2em;
}



.site-page .container{
    width: 100px;
    padding: 0;
}


.header .navbar-brand {
    display: block;
    float: none;
    height: auto;
}


.navbar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.navbar-nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}

    /* Change the link color on hover */
    .navbar-nav li a:hover {
        background-color: #555;
        color: white;
    }

   

/* ====== Header ====== */
.header {
    background-image: url('../images/yarriambiack.png');
    padding: 0;
    margin: 0 0 15px 0;
    background-position: 60% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: antiquewhite;
}

.history .header {
    background-image: url('../images/history-heading.png');
}

.events .header {
    background-image: url('../images/events-header.png');
    
}

.people .header {
    background-image: url('../images/peopl-header.png');
}


.home-page{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}

.body-nav .row {
    margin-bottom: 15px;
}

.nav-panel {
    border-right: 1px solid black;
    background-color: white;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 15px;
}

.nav-panel.people{
        border:none;
}

    .nav-panel.highlight {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-right: none;
    }

.nav-panel-icon {
    float: left;
    min-width: 132px;
    background-repeat: no-repeat;
    height: 160px;
}



.history > .nav-panel-icon {
    background-image: url('../images/Emmanuel Wilde.png')
}

.events > .nav-panel-icon {
    background-image: url('../images/events.png')
}

.gallery > .nav-panel-icon {
    background-image: url('../images/galleries.png')
}

.people > .nav-panel-icon {
    background-image: url('../images/people.png')
}



/* Sidebar */
.doc-sidebar {
    float: left;
    width: 200px;
}

.doc-content {
    margin-left: 250px;
}

.sidenav {
    margin-top: 15px;
    
}

   
.sidenav .nav a {
    display: inline-block;
    padding-right: 10px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 0;
    font-weight: bold;
}

.sidenav .nav .parent {
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

    .sidenav .nav .parent > .nav {
        display: block;
        max-height: 0;
        margin-left: 18px;
        overflow: hidden;
        transition: all 0.2s;
        font-size: 14px;
    }

    .sidenav .nav .parent:after {
        display: block;
        transition: all 0.2s;
    }

    .sidenav .nav a:hover, .sidenav .nav .parent.active > a:hover, .sidenav .nav .parent:hover:after {
        color: #00b3ee;
    }

    .sidenav .nav .parent.active:after {
        transform: rotate(180deg);
        content: "\f107" !important;
    }

    /*.sidenav .nav .parent.active > .nav {
        max-height: 700px;
    }*/

/* ====== Footer ====== */
.footer {
    background: #142c52;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    .footer a {
        color: #257ba0;
    }

.address {
    margin-top: 15px;
}

.address  label {
    width: 120px;
    padding-right: 50px;
    font-weight: bold;
}

.centered {
    margin: auto;
}

.image-upload {
    padding: 15px;
    background-color: white;
    border-top: 1px solid black;
    border-radius: 3px 4px;
}


/* Events */

.event-summary {
    display: inline;
    list-style-type: none;
}

.event  {
    background: white;
    padding: 15px;
    border-top: 1px solid black;
    
}

.event-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

    .event-image img {
        clip: rect(0px,60px,200px,0px);
        max-width: 100%;
        max-height: 100%;
    }

.event-description {
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px 4px;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding: 50px;
    }
}


.familyTreeNode {
    border: 1px solid;
}

.gender.M{
    border-color: aquamarine
}

.gender.F {
    border-color: palevioletred
}


.familyTreePanel{
    font-size: .9em;

}



.direct-relation {
    float: left;
    width: 30%;
}

.spouses {
    width: 30%;
    float: right;
}

.spouse{
    width: 100%;
}

.right-panel {
    float: left;
}


.familyMember {
    border: 1px solid;
    padding: 2px;
    min-width: 200px;
    
}


.spouse > .familyMember {
    float: left;
    width: 750%;
    max-width: 130%;
}

.childPanel{
    clear: both;
    min-height: 100px;
}

.descendent-link {
    float: right;
    width: 25%;
}


a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}


.centered{
    margin-left: auto;
    margin-right: auto;
}

