
html {
    height: 100%;
}

body {
    padding-top: 0;
    font-family: "Georgia, serif"
}

.page-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px;
}

    .page-wrapper:after {
        content: "";
        display: block;
        height: 50px;
    }

    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

.footer {
    height: 50px;
}

.body-blue > .header {
    background-position: center bottom;
    background-size: initial;
}


.header > .container > h1 {
    padding-top: 80px;
    padding-bottom: 15px;
    color: antiquewhite;
    font-size: 6em;
}

.header > .container > p {
    padding-bottom: 40px;
    /*color: #337ab7;*/
    font-size: 1.2em;
}

/*.site-page h1, .site-page p {
    display: none;
}*/

/*.site-page .header {
    height: 40px;
}*/

.site-page .container{
    width: 100px;
    padding: 0px;
}


.header .navbar-brand {
    display: block;
    float: none;
    height: auto;
}


.navbar-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

.navbar-nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
}

    /* Change the link color on hover */
    .navbar-nav li a:hover {
        background-color: #555;
        color: white;
    }

    /*.navbar .container-fluid {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.navbar-nav {
    margin-left: 30px;
}

.navbar-nav li a {
    display: block;
    width: 60px;
}*/
    /*.navbar-nav > li {
        margin-right: 30px;
        font-size: 1.1em;
    }*/



/* ====== Header ====== */
.header {
    background-image: url('../images/yarriambiack.png');
    padding: 0;
    margin: 0;
    background-position: 60% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: antiquewhite;
}

.history .header {
    background-image: url('../images/history-heading.png');
}

.events .header {
    background-image: url('../images/events-header.png');
    
}

.people .header {
    background-image: url('../images/peopl-header.png');
}


.home-page{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
}

.body-nav .row {
    margin-bottom: 15px;
}

.nav-panel {
    border-right: 1px solid black;
    background-color: white;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 15px;
}

.nav-panel.people{
        border:none;
}

    .nav-panel.highlight {
        border-top: 1px solid black;
        border-right: none;
    }

.nav-panel-icon {
    float: left;
    min-width: 132px;
    background-repeat: no-repeat;
    height: 160px;
}



.history > .nav-panel-icon {
    background-image: url('../images/Emmanuel Wilde.png')
}

.events > .nav-panel-icon {
    background-image: url('../images/events.png')
}

.gallery > .nav-panel-icon {
    background-image: url('../images/galleries.png')
}

.people > .nav-panel-icon {
    background-image: url('../images/people.png')
}



/* Sidebar */
.doc-sidebar {
    float: left;
    width: 200px;
}

.doc-content {
    margin-left: 250px;
}

.sidenav {
    margin-top: 15px;
    
}

   
.sidenav .nav a {
    display: inline-block;
    padding-right: 10px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 0;
    font-weight: bold;
}

.sidenav .nav .parent {
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

    .sidenav .nav .parent > .nav {
        display: block;
        max-height: 0;
        margin-left: 18px;
        overflow: hidden;
        transition: all 0.2s;
        font-size: 14px;
    }

    .sidenav .nav .parent:after {
        display: block;
        transition: all 0.2s;
    }

    .sidenav .nav a:hover, .sidenav .nav .parent.active > a:hover, .sidenav .nav .parent:hover:after {
        color: #00b3ee;
    }

    .sidenav .nav .parent.active:after {
        transform: rotate(180deg);
        content: "\f107" !important;
    }

    /*.sidenav .nav .parent.active > .nav {
        max-height: 700px;
    }*/

/* ====== Footer ====== */
.footer {
    background: #142c52;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    .footer a {
        color: #257ba0;
    }

.address {
    margin-top: 15px;
}

.address  label {
    width: 120px;
    padding-right: 50px;
    font-weight: bold;
}

.centered {
    margin: auto;
}

.image-upload {
    padding: 15px;
    background-color: white;
    border-top: 1px solid black;
    border-radius: 3px 4px;
}

ul.event-summary {
    display: inline;
    list-style-type: none;
}

.event  {
    background: white;
    padding: 15px;
    border-top: 1px solid black;
    border-radius: 3px 4px;
    
}


@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}


.familyTreeNode {
    border: 1px solid;
}

.gender.M{
    border-color: aquamarine
}

.gender.F {
    border-color: palevioletred
}

.childPanel {
    float: left;
}

.familyTreePanel{
    font-size: .9em;
    width: 10000px;
}

.spouse {
    margin-left: 5px;
}

.right-panel {
    float: left;
}

.children ul {
    white-space: nowrap;
    display: inline-block;
    list-style: none;
}

.children ul li {
    display: table-cell;
}

.parents ul {
    white-space: nowrap;
    display: inline-block;
    list-style: none;
}

.parents ul li {
    display: table-cell;
}

.familyMember {
    border: 1px solid;
    padding: 2px;
}

.parents ul {
    display: flex;
    justify-content: center;
}

.parents {
    margin-bottom: 5px;
}

.childHeader{
    width: 100%;
    border-bottom: 1px solid black;
}

.ancestorLink {
    width: 100%;
    height: 20px;
    position: relative;
}

    .ancestorLink:before {
        content: "";
        width: 1px;
        height: 100%;
        display: block;
        left: 50%;
        position: absolute;
        background-image: -webkit-linear-gradient(top, #fff, #000, #fff);
        background-image: -moz-linear-gradient(top, #fff, #000, #fff);
        background-image: -ms-linear-gradient(top, #fff, #000, #fff);
        background-image: -o-linear-gradient(top, #fff, #000, #fff);
        background-image: linear-gradient(top, #fff, #000, #fff);
    }

.childPanel{
    margin-left: 20px;
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}