@import url('site.min.css');
@import url('site.css');
body,
html {
    height: 100%;
}

.page-wrapper {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px;
}

    .page-wrapper:after {
        content: "";
        display: block;
        height: 50px;
    }

.footer {
    height: 50px;
}

.body-blue > .header {
    background-position: center bottom;
    background-size: initial;
}


.header .navbar-brand {
    display: block;
    float: none;
    height: auto;
}

.navbar {
    background: inherit;
    margin-bottom: 0;
}

    .navbar .container-fluid {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

.navbar-nav {
    margin-left: 30px;
}

    .navbar-nav > li {
        margin-right: 30px;
        font-size: 1.1em;
    }



/* ====== Header ====== */
.header {
    background-image: linear-gradient(rgba(20, 44, 82, 0.85), rgba(20, 44, 82, 0.85)), url('../images/fields.jpg');
    color: rgba(255, 255, 255, 0.85);
    padding: 0;
    margin: 0;
    background-position: 60% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Sidebar */
.doc-sidebar {
    float: left;
    width: 200px;
}

.doc-content {
    margin-left: 250px;
}

.sidenav .nav a {
    display: inline-block;
    padding-right: 10px;
    margin-right: 20px;
}

.sidenav .nav .parent {
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}

    .sidenav .nav .parent > .nav {
        display: block;
        max-height: 0;
        margin-left: 18px;
        overflow: hidden;
        transition: all 0.2s;
        font-size: 14px;
    }

    .sidenav .nav .parent:after {
        display: block;
        transition: all 0.2s;
    }

    .sidenav .nav a:hover, .sidenav .nav .parent.active > a:hover, .sidenav .nav .parent:hover:after {
        color: #00b3ee;
    }

    .sidenav .nav .parent.active:after {
        transform: rotate(180deg);
        content: "\f107" !important;
    }

    .sidenav .nav .parent.active > .nav {
        max-height: 700px;
    }

/* ====== Footer ====== */
.footer {
    background: #142c52;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    .footer a {
        color: #257ba0;
    }



.address span {
    min-width: 200px;
    padding-right: 50px;
    font-weight: bold;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}
